@keyframes img-animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.hero {
  background-color: var(--color-grey-light-2);
  min-height: 88vh;
  position: relative;
  &__container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  &__intro {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(black, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 50rem;

    &-primary {
      font-size: 6rem;
      display: inline-block;
    }
    &-secondary {
      display: inline-block;

      font-size: 1.8rem;
      margin-top: 1.5rem;
      align-self: flex-start;
    }
  }

  &__img {
    width: 30rem;
    overflow: hidden;
    animation: img-animation 5s ease-in-out infinite;
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
  }

  &__socials {
    display: flex;
    margin-top: 3rem;

    &-icon {
      font-size: 4rem;
      margin-right: 3rem;
      filter: grayscale(100);
      transition: all 0.3s;

      &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1.1) translateY(-0.3rem);
        filter: none;
      }
    }
  }
}
